/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-main: #0081c9;
  --clr-secondary: #fff;

  --clr-text: #303030;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  box-sizing: border-box;
}

/* Navigation */

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--clr-main);
}

.nav-item {
  list-style: none;
  padding: 12px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
  display: block;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item:hover {
  background-color: #00a6ff;
  padding: 12px;
}

.toggle-button {
  position: absolute;
  top: 18px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
  transition: background-color 0.75s;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--clr-main);
}

.toggle-button.active {
  background-color: var(--clr-secondary);
}

/* Intro */

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--clr-secondary);
}

.intro-section-right {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 590px;
}

.intro-header {
  font-size: 80px;
  color: var(--clr-text);
}

.intro-description {
  font-size: 40px;
  color: var(--clr-text);
}

/* Services */

.services-section {
  display: flex;
  align-items: center;
  padding: 100px 0;
  background-color: var(--clr-main);
  color: var(--clr-secondary);
}

.services-left {
  width: 100%;
}

.services-right {
  width: 100%;
}

.services-header {
  font-size: 80px;
}

.web-design-header {
  font-size: 80px;
}

.web-design-description {
  font-size: 40px;
}

/* Approach */

.my-approach {
  text-align: center;
  padding: 100px 0;
  background-color: var(--clr-secondary);
  color: var(--clr-text);
}

.my-approach-header {
  font-size: 80px;
}

.my-approach-description {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  max-width: 1000px;
}

/* Chat */

.chat-section {
  max-width: 500px;
  margin: 0 auto 100px auto;
  padding: 50px;
  text-align: center;
  background-color: var(--clr-main);
  border-radius: 4px;
}

.chat-header {
  color: var(--clr-secondary);
  font-size: 40px;
}

.chat-description {
  color: var(--clr-secondary);
  font-size: 30px;
}

.chat-link {
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
}

/* Buttons */

.buttons {
  margin-bottom: 100px;
  font-size: 20px;
}

.button-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  margin-right: 16px;
  text-decoration: none;
  text-align: center;
  color: var(--clr-secondary);
  background-color: var(--clr-main);
  font-weight: var(--fw-bold);
  min-width: 200px;
  transition: transform 200ms ease-out;
  border-radius: 4px;
}

a.btn:last-child {
  margin-right: 0;
  margin-left: 16px;
}

.btn:hover {
  transform: scale(1.1);
}

/* Footer */

.footer {
  background-color: var(--clr-main);
  text-align: center;
  text-decoration: none;
  padding: 2.5em 0;
}

.footer-link {
  text-decoration: none;
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
}

.copyright-description p {
  margin-bottom: 0;
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
}

/* Social Media*/

.a-social-b {
  background-color: var(--clr-main);
  padding-bottom: 40px;
  text-align: center;
  font-size: 22px;
}

.social-list {
  color: var(--clr-secondary);
  padding: 1em;
}

/* Media */

/* Navbar Media */

@media screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .nav-item {
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }
}

/* Mobile Phone */

@media screen and (max-width: 950px) and (max-height: 430px) {
  .services-section {
    display: block;
    text-align: center;
  }

  .web-design-description {
    padding-left: 75px;
  }
}

/* 480px */

@media screen and (max-height: 480px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .intro-section {
    display: block;
  }

  .intro-section-left {
    text-align: center;
  }

  .intro-section-right {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .intro-section {
    display: block;
  }

  .derrick-ogole-image-style {
    width: 100%;
  }

  .intro-section-right {
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }

  .intro-description {
    font-size: 30px;
  }

  .services-section {
    display: block;
  }

  .services-header-position {
    text-align: center;
  }

  .web-design-header {
    font-size: 40px;
    text-align: center;
  }

  .web-design-description {
    text-align: center;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
  }

  .my-approach {
    display: block;
    width: 100%;
  }

  .my-approach-header {
    font-size: 60px;
  }

  .my-approach-description {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .chat-section {
    margin-bottom: 50px;
  }

  .chat-header {
    font-size: 40px;
  }

  .chat-description {
    font-size: 30px;
  }

  .btn {
    display: block;
  }

  .button-layout {
    display: block;
    text-align: center;
  }

  a.btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  a.btn:last-child {
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 555px) {
  .button-layout {
    display: block;
  }

  .btn {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  a.btn:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }
}

/* Galaxy Fold */

@media screen and (width: 653px) and (height: 280px) {
  .web-design-description-position {
    padding-left: 0;
  }
}

/* Tablet */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-link {
    font-size: 25px;
  }

  .intro-section {
    display: flex;
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .derrick-ogole-image {
    width: 100%;
    text-align: center;
  }

  .intro-section {
    display: block;
  }

  .intro-header {
    font-size: 60px;
    text-align: center;
  }

  .intro-description {
    font-size: 30px;
    text-align: center;
  }

  .services-section {
    display: block;
    width: 100%;
  }

  .services-header-position {
    text-align: center;
  }

  .web-design-header {
    text-align: center;
    font-size: 45px;
  }

  .web-design-description {
    text-align: center;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .my-approach-description {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .my-approach-description p:last-child {
    margin-bottom: 0;
  }

  .chat-section {
    margin-bottom: 50px;
  }

  .chat-header {
    font-size: 30px;
  }

  .chat-description {
    font-size: 30px;
  }

  .footer {
    font-size: 20px;
  }
}

/* iPad Air */

@media screen and (width: 820px) and (height: 1180px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .intro-section {
    display: block;
  }

  .intro-section-left {
    text-align: center;
  }

  .intro-section-right {
    text-align: center;
  }

  .services-section {
    display: block;
    text-align: center;
  }

  .web-design-description-position {
    padding: 0 30px;
  }

  .my-approach-description {
    padding: 0 30px;
  }
}

@media screen and (width: 1180px) and (height: 820px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .services-section {
    display: block;
    text-align: center;
  }

  .web-design-description-position {
    padding-left: 75px;
  }
}

/* iPad Mini */

@media screen and (width: 1024px) and (height: 768px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .services-section {
    display: block;
    text-align: center;
  }

  .web-design-description-position {
    padding-left: 75px;
  }
}

/* Surface Pro 7 */

@media screen and (width: 912px) and (height: 1368px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .services-section {
    display: block;
    text-align: center;
  }

  .web-design-description-position {
    padding: 0 75px;
  }

  .my-approach-description {
    padding: 0 75px;
  }
}

/* Laptop */

@media screen and (min-width: 769px) and (max-height: 1024px) {
  .nav-link {
    font-size: 30px;
  }

  .web-design-description {
    font-size: 30px;
    padding-right: 75px;
  }

  .services-header-position {
    text-align: center;
  }

  .my-approach-description {
    padding-left: 100px;
    padding-right: 100px;
  }

  .chat-header {
    font-size: 40px;
  }

  .chat-description {
    font-size: 40px;
  }

  .buttons {
    font-size: 30px;
  }

  .footer {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 850px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* Large Laptop */

@media screen and (min-width: 1025px) {
  .nav-link {
    font-size: 30px;
  }

  .buttons {
    font-size: 30px;
  }

  .footer {
    font-size: 30px;
  }

  .services-header-position {
    text-align: center;
  }
}
